<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head('Posts')"></head>
<body>
<div th:replace="fragments/navbar :: myNav"></div>

<form class="create" th:action="@{/posts/create}" th:method="post" th:object="${post}">
    <div class="form-group">
    <label for="title">Title:</label>
    <input class="form-control" id="title" th:field="*{title}" />
    </div>
    <br />
    <div class="form-group">
    <label for="body">Body:</label>
    <textarea class="form-control" id="body" th:field="*{body}" rows="3"></textarea>
    <br />
    </div>
    <button type="submit" class="btn btn-primary mb-2">Submit</button>
</form>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>

