body {
    background-color: #40807c;
    color: whitesmoke;
    padding: 1%;
}

#nav {
    background-color: #5c6067;
    border: dashed white;
    padding-bottom: 1%;
}

.create {
    padding: 1%;
}

.update {
    padding: 1%;
}
 #title {
     margin-bottom: 1%;
 }

 .card-body {
     background-color: #4b7580;
     border: dashed white;
     padding-bottom: 1%;

 }